/**
Navbar
 */

body {
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 1060px) {

    .button-with-responsive
    {

        align-content: center;
    }
    .form {
        width: 80%;
    }
    .btn {

        margin-top: 5px;
        margin-bottom : 3px;
    }
}

@media screen and (max-width: 640px) {

    h3 {

        font-size: 2.20em;

    }
    body {
        box-shadow: none;
    }


}
.designed-font {
    font-family: 'Pacifico', cursive;
    padding-left: 8px;
}
.nav-wrapper {
    background-color: #4db6ac;

}
button, html {

    webkit-appearance: button;

}
/**
End Navbar
 */

/**
Recherche :
 */
ul#mobile-demo.sidenav{
    opacity: .88;
    width: 50%;
    text-align: center;
}


.recherche {
    padding: 50px;
    align-content: center;
    width: 100%;
}

.logindiv {
    padding-top: 50px;
    align-content: center;
    width: 100%;
}

.loginrow {
    padding-top: 10px;
    align-content: center;
    width: 100%;
    margin: 15px;
    padding: auto;
}

section {
    margin-left: auto;
    margin-right: auto;
}
select {
    display: block
}

/**

END recherche

Add :
 */

#validePlaceCreation{
    background-color: #b2dfdb;
    align-items: center;
}

.adding-places {
    background-color: #b2dfdb;
}

 .form {
    max-width: 30%;
    margin: auto;
    padding: 25px;
    margin-top: 30px;

}

 #buttonAddLieu {
     margin: 5px 0px;
 }

form {
    margin: auto;
}

@media screen and (max-width: 640px) {
    .form {
        max-width: 100%;
    }

}

@media screen and (min-width: 640px) {
    ul#mobile-demo.sidenav{
        opacity: .88;
        width: 25%;
        text-align: center;
    }
}

/**
Affichage sortie
 */

.titre{
    text-align: center;
}

.tabParticipant
{
    margin : auto;
}

.tpTH{
    margin: auto;
}

.aff_sortie_label
{
    font-size: medium;
    color : black;
}

.delete-btn
{
    text-align: center;
}

.tableBody {
    width: 80%;
}

.flash{
    padding: 20px;
    display: block;
    font-size: 20px;
    color:#FFF;
    opacity: .66;
    font-weight: normal;
}

.flash-success{
    background-color: #43a047;
}

.flash-error{
    background-color: #d32f2f ;
}
.addOutingButton {
    display: inline-block;
    position: relative;
}

.btn-small-red {
    color: white;
    background-color: #f44336;
    border: none;
    border-radius: 2px;
    display: inline-block;
    /*height: 16px;*/
    /*width: 50px;*/
    horiz-align:center;
    vertical-align: center;
    /*padding: 15px 32px;*/
    text-align: center;
    /*text-decoration: none;*/
    font-size: 70%;
}

