/**
Navbar
 */

body {
    font-family: 'Montserrat', sans-serif;
}
.designed-font {
    font-family: 'Pacifico', cursive;
    padding-left: 8px;
}
.nav-wrapper {
    background-color: #4db6ac;
}

/**
End Navbar
 */

/**
Recherche :
 */


.recherche {
    padding: 50px;
    align-content: center;
    width: 100%;
}

section {
    margin-left: auto;
    margin-right: auto;
}
select {
    display: block
}