/**
Navbar
 */

body {
    font-family: 'Montserrat', sans-serif;
}
.designed-font {
    font-family: 'Pacifico', cursive;
    padding-left: 8px;
}
.nav-wrapper {
    background-color: #4db6ac;

}

/**
End Navbar
 */

/**
Recherche :
 */


.recherche {
    padding: 50px;
    align-content: center;
    width: 100%;
}

.logindiv {
    padding-top: 50px;
    align-content: center;
    width: 100%;
}

.loginrow {
    padding-top: 10px;
    align-content: center;
    width: 100%;
}

section {
    margin-left: auto;
    margin-right: auto;
}
select {
    display: block
}

/**

END recherche

Add :
 */


.form {
    max-width: 30%;
    margin: auto;
    padding: 25px;
    margin-top: 30px;

}

form {
    margin: auto;
}

@media screen and (max-width: 640px) {
    .form {
        max-width: 100%;
    }
}

/**
Affichage sortie
 */

.titre{
    text-align: center;
}

.tabParticipant
{
    margin : auto;
}

.tpTH{
    margin: auto;
}

.aff_sortie_label
{
    font-size: medium;
    color : black;
}

.delete-btn
{
    text-align: center;
}

.tableBody {
    width: 80%;
}

.flash{
    padding: 20px;
    display: block;
    font-size: 20px;
    color:#FFF;
    opacity: .66;
    font-weight: normal;
}

.flash-success{
    background-color: #43a047;
}

.flash-error{
    background-color: #d32f2f ;
}