{% extends ("layout.html.twig") %}


{% block title %} Ajouter une sortie {% endblock %}



{% block main %}
<div class="form col s12 l4 valign-wrapper offset-l4 z-depth-2">
    {{ form_start(outingForm) }}

    {{ form_widget(outingForm) }}


    <button type="submit" class="btn waves-effect waves-light">Ajouter</button>
    {{ form_end(outingForm) }}
</div>


<script>

    $('.choice').change(function (e) {
        var choice = $(this).val();
        $.ajax({
            url: '{{ path('ajaxFormAdd') }}',
            type: 'POST',
            dataType: 'json',
            data: {
                'choice': choice
            },
            async: true,
            success: function (data) {

                $('.ajaxSite').empty();
                $.each(data, function (id, lieu) {
                    $('.ajaxSite').append($('<option value="'+ id + '">' + lieu + '</option>'));
                });
            }
        });
        e.preventDefault();
    });


    // https://openclassrooms.com/forum/sujet/symfony-formulaire-dynamique-cadeau

</script>



{% endblock %}

