{%  extends ('layout.html.twig') %}

{% block title %}Détail de la sortie{% endblock %}

{% block main %}
    <div class="form col s12 l4 valign-wrapper offset-l4 z-depth-2">

        {{ form_start(outingForm) }}

        {{ form_widget(outingForm) }}


        <button type="submit" class="btn waves-effect waves-light">Modifier</button>

        {{ form_end(outingForm) }}
    </div>
{% endblock %}