<nav>
    <div class="nav-wrapper">
        <a href="#" class="designed-font brand-logo">Out</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Villes</a></li>
            <li><a href="#">Sites</a></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Mon profil</a></li>
            <li><a href="#">Deconnexion</a></li>
        </ul>
    </div>
</nav>