<nav>
    <div class="nav-wrapper">
        <div class="designed-font brand-logo">Out</div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Villes</a></li>
            <li><a href="#">Sites</a></li>
            <li><a href="{{ path('main') }}">Accueil</a></li>
            <li><a href="{{ path('user_details') }}">Mon profil</a></li>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>