{% extends 'layout.html.twig' %}

{% block title %}Login Utilisateur{% endblock %}

{% block main %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row container">
        <form  action="{{ path('login') }}" method="post">
            <div class= "col s6 offset-s3 l6 offset-l3 m6 offset-m6" >
                <label for="username">Identifiant ou Email</label>
                <!--Symfony impose le nom _username pour gérer le mécanisme de login -->
                <input type="text" name="_username" id="username">
                <label for="password">Mot de passe :</label>
                <!--Symfony impose le nom _password pour gérer le mécanisme de login -->
                <input type="password" name="_password" id="password">
                <div class="row">
                    <div class="col">
                    <button type="submit" class="btn s12">Connexion</button>
                    </div>
                    <div class="col">
                        <label>
                            <input type="checkbox"/>
                            <span>Se souvenir de moi</span>
                            <div>
                                <a href="#">Mot de passe oublié</a>
                            </div>
                        </label>
                    </div>
                </div>

            </div>
        </form>
    </div>



{% endblock %}
