{% extends 'layout.html.twig' %}

{% block title %}Login Utilisateur{% endblock %}

{% block main %}

    <div class=" logindiv row container">
        <form  action="{{ path('login') }}" method="post">
            <div class= "col s6 offset-s3 l6 offset-l3 m6 offset-m3  z-depth-2" >
                {{ form_start(pwdForm) }}
                {{ form_widget(pwdForm) }}
                <label for="oldpassword">Veuillez renseigner votre ancien mot de passe</label>
                <!--Symfony impose le nom _username pour gérer le mécanisme de login -->
                <input type="password" name="_password" id="password">
                <label for="newpassword">Votre nouveau mot de passe</label>
                <!--Symfony impose le nom _password pour gérer le mécanisme de login -->
                <input type="password" name="_password" id="password">
                <label for="newpassword">Confirmation de votre nouveau mot de passe</label>
                <!--Symfony impose le nom _password pour gérer le mécanisme de login -->
                <input type="password" name="_password" id="password">
                <div class="loginrow row">
                    <div class= "col">
                        <div class="col">
                            <button type="submit" class="btn s12">Valider</button>
                        </div >
                        <div class="col">
                            <button type="submit" class="btn s12" style="background-color: #FF6347">Annuler</button>
                        </div >

                    </div>
                </div>
                {{ form_end(ModifyPassword) }}
            </div>
        </form>
    </div>



{% endblock %}
