{% extends ('layout.html.twig') %}

{% block title %}photo{% endblock %}

{% block main %}

    <div class="row container center-align">
        <h4 class="titre">Choisir ma photo</h4>
        <div class="col s12 l4 m6 offset-m3 offset-l4 form fileinputs" style="position: relative;">

            {{ form_start(pictureForm) }}
            {{ form_widget(pictureForm) }}

        </div>

        <div class="col s12 l4 m6 offset-m3 offset-l4" style="margin-top: 15px;">
            <button type="submit" class="btn waves-effect waves-light">Enregistrer</button>

            {{ form_end(pictureForm) }}

            <a href="{{ path('my_details') }}">
                <input type="button" class="btn waves-effect waves-light" name="annuler" value="Annuler">
            </a>
        </div>


    </div>


{% endblock %}